<div class="row list-group-item" ng-repeat="award in awards">
    <div class="col-xs-1"  >
        <span class="red-dark center circle-text" data="{{award.drawResult.red_1st}}">{{award.drawResult.red_1st}}</span>
    </div>
    <div class="col-xs-1"  >
        <span class="red-dark center circle-text" data="{{award.drawResult.red_2nd}}">{{award.drawResult.red_2nd}}</span>
    </div>
    <div class="col-xs-1"  >
        <span class="red-dark center circle-text" data="{{award.drawResult.red_3rd}}">{{award.drawResult.red_3rd}}</span>
    </div>
    <div class="col-xs-1"  >
        <span class="red-dark center circle-text" data="{{award.drawResult.red_4th}}">{{award.drawResult.red_4th}}</span>
    </div>
    <div class="col-xs-1"  >
        <span class="red-dark center circle-text" data="{{award.drawResult.red_5th}}">{{award.drawResult.red_5th}}</span>
    </div>
    <div class="col-xs-1"  >
        <span class="red-dark center circle-text" data="{{award.drawResult.red_6th}}">{{award.drawResult.red_6th}}</span>
    </div>
    <div class="col-xs-1"  >
        <span class="blue-dark center circle-text" data="{{award.drawResult.blue_1st}}">{{award.drawResult.blue_1st}}</span>
    </div>

    <div class="col-xs-12"  >
        <p class="text-small padding-top">{{award.periodDesc}}</p>
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
    </div>



</div>
