body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
    font-family: Microsoft YaHei, '宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

.avatar-img {
    width: 36px;
    height: 36px;
    margin: 5px 8px 5px 5px;
}

.avatar-img img, .ui-img img {
    width: 100%;
    height: 100%;
}

.ui-item-header {
    display: -webkit-box;
}

.pick-background button, .pick-background a {
    background: #bbb;
}

.history-background button, .history-background a {
    background: #6090ff;
}

.wrap-container {
    margin: 20px;
}

.clearfix {
    zoom: 1;
}

.preconfig-block {
    border: none;
    display: block;
    width: 100%;
}

.preconfig-block h5 {
    font-weight: normal;
    font-size: 1.2em;
    color: white;
    margin: 0;
    text-align: center;
    padding: 25px 0;
    text-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
}

.my-info {
    font-size: 0.8em;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote:before {
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
    font-size: 1em;
}

.ui-grid-bottom {
    margin-bottom: 15px;
}

/*.brief-info {*/
/*display: -webkit-box;*/
/*}*/