/* Empty. Add your own CSS if you like */
span.circle-text {
    display: block;
    height: 28px;
    width: 28px;
    line-height: 28px;
    -moz-border-radius: 14px; /* or 50% */
    border-radius: 14px; /* or 50% */

    text-align: center;
    font-size: 0.8em;
    border: 1px solid dimgrey;
}

span.circle-text-medium {
    display: block;
    height: 36px;
    width: 36px;
    line-height: 36px;
    -moz-border-radius: 18px; /* or 50% */
    border-radius: 18px; /* or 50% */

    text-align: center;
    font-size: 0.9em;
    border: 1px solid dimgrey;
}

span.circle-text-small {
    display: block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    -moz-border-radius: 12px; /* or 50% */
    border-radius: 12px; /* or 50% */

    text-align: center;
    font-size: 0.8em;
    border: 1px solid dimgrey;
}
.fill {
    min-height: 100%;
    height: 100%;
}

.padding-bottom {
    padding-bottom: 10px;
}

.padding-top {
    padding-top: 10px;
}

.padding-top-large {
    padding-top: 20px;
}

.padding-left {
    padding-left: 8px;
}

.padding-right {
    padding-right: 8px;
}
.red-light {
    background-color: orangered;
    color: white;
}

.red-dark {
    background-color: white;
    color: orangered;
}

.blue-light {
    background-color: dodgerblue;
    color: white;
}

.blue-dark {
    background-color: white;
    color: dodgerblue;
}

/*.center {*/
/*margin-left: auto;*/
/*margin-right: auto;*/
/*display: block;*/
/*}*/

.center{
    text-align:center;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.text-dark {
    color: dimgray;
}
.text-small {
    font-size: 0.8em;
}

.fixed-bottom{
    left: 15px;
    position: absolute;
    bottom: 0;
    color:white;
    width: 100%;
    border-top: 1px solid lightgray;
    /*height: 70px;*/
}

.row.bar-top{
    margin-top: 15px;
    margin-left: -30px;
    margin-right: -30px;
    bottom: 0;
    border-bottom: 1px solid lightgray;
    /*height: 70px;*/
}


.text-success {
    color: limegreen;
}
.text-nodec {
    text-decoration: none;
}
.text-skyblue {
    color: deepskyblue;
}
.clickable:focus {
    text-decoration:underline;

}

.text-fail {
    color: red;
}
.text-vertical {
    line-height: 26px;
}



