<a class="row list-group-item" ng-repeat="item in bettings" ng-class="{'item-divider': item.isPeriod, 'item-icon-right' : !item.isPeriod}" href="#!/betting/detail/{{item.id}}">

    <div class='row padding-top' ng-if="!item.isPeriod" >
        <div class="col-xs-1" ng-repeat="number in item.numbers track by $index">
            <span ng-class="{'blue-dark':$last, 'red-dark':!$last}" class=" center circle-text" >{{number}}</span>
        </div>
        <div class="col-xs-3"></div>
        <div class="col-xs-2"> <br><span ng-if="!item.isPeriod" class="text-dark glyphicon glyphicon-chevron-right"></span></div>


    <div class="col-xs-8"><p class="text-small text-dark" ng-if="!item.isPeriod">{{item.pickTimeDesc}} 投注</p></div>
    <div class="col-xs-4"><span class="text-small text-border " ng-if="item.periodStatus == 2"
                                ng-class="{'text-success':item.pickResult, 'text-fail':!item.pickResult}">
              {{item.pickResult ? item.pickResult.awardDesc : '未中奖'}}
            </span></div>
    </div>
    <h5 ng-if="item.isPeriod">{{item.period}}<span class="padding-left text-small">{{item.statusDesc}}</span></h5>


</a>

