<div class="wrap-container">
<div class="row padding-bottom">
    <div class="col-xs-12">
        <p class="my-info">当前积分{{points}}，可下注{{times}}次</p>
    </div>
</div>
<div class="row padding-bottom">
    <div class="col-xs-6 pick-background">
        <a class="preconfig-block pick-background clearfix" href="#!/pick/index">
            <h5>选号</h5>
        </a>
    </div>
    <div class="col-xs-6 history-background">
        <a class="preconfig-block history-background clearfix" href="#!/betting/index">
            <h5>我的投注</h5>
        </a>
    </div>
</div>
<div class="row padding-bottom">
    <h5>活动细则</h5>
    <p>
        本次活动...
    </p>
</div>
</div>
